html,body{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#renderingCanvas{
  width: 50%;
  height: 50%;
}